In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

/home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/matplotlib/__init__.py:962: UserWarning: Duplicate key in file "/home/ec2-user/.config/matplotlib/matplotlibrc", line #2
  (fname, cnt))
/home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/matplotlib/__init__.py:962: UserWarning: Duplicate key in file "/home/ec2-user/.config/matplotlib/matplotlibrc", line #3
  (fname, cnt))
/home/ec2-user/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/matplotlib/font_manager.py:281: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
import torch
from fastai.imports import *
from fastai.torch_imports import *
from fastai.transforms import *
from fastai.conv_learner import *
from fastai.model import *
from fastai.dataset import *
from fastai.sgdr import *
from fastai.plots import *

In [4]:
PATH = "/home/ec2-user/s3"
sz = 224
arch = resnext101_64
bs = 58

In [5]:
label_json = f'{PATH}/train.json'

# Initial exploration

In [6]:
!ls {PATH}

sample_submission.csv  test.json  train.json  validation.json
test		       train	  validation

In [8]:
train_data = json.load(open(label_json))

In [46]:
label_df = pd.DataFrame(train_data['annotations'])

In [49]:
label_df.head()

  imageId                                      labelId
0       1                        [95, 66, 137, 70, 20]
1       2                  [36, 66, 44, 214, 105, 133]
2       3                 [170, 66, 97, 153, 105, 138]
3       4                       [18, 66, 44, 153, 164]
4       5  [189, 66, 176, 137, 153, 74, 181, 171, 138]

In [64]:
pivot_df = pd.DataFrame(label_df['labelId'].tolist(), index=label_df['imageId']).stack()
pivot_df = pivot_df.reset_index(level='imageId')
pivot_df.columns = ['imageId', 'labelId']

In [80]:
pivot_df.head()

  imageId labelId
0       1      95
1       1      66
2       1     137
3       1      70
4       1      20

In [83]:
pt = pivot_df.pivot_table(index='labelId', aggfunc=len, values='imageId')
pt.columns = ['count']
pt.sort_values('count', ascending=False)

          count
labelId
66       743250
105      330864
153      261844
17       251869
171      243038
106      193283
222      151339
214      150814
53       142948
62       126473
19       126335
164      116033
20       105359
137      104064
138      102957
148      101464
98        88828
113       78011
44        75053
49        68298
176       66409
184       62340
36        62147
133       61088
186       60033
116       57654
79        57464
131       50905
175       48871
70        48383
...         ...
124         392
194         365
94          364
68          337
23          328
83          299
174         289
221         287
24          286
179         267
157         259
172         235
223         214
76          202
108         190
104         187
207         180
215          99
161          98
1            79
156          73
46           71
86           69
41           68
107          66
84           52
162          52
145          41
16           23
163           7

[228 rows x 1 columns]